.page_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket_container {

}

.line_break {
  width: 100%;
  height: 1px;
  background-color: #ebf0f1;
}

.order_container {
  border: 2px solid #ebf0f1;
  border-radius: 5px;
}

.order_header {
  background-color: #ebf0f1;
  margin-top: 0px;
}

.button_decrement {
  background-color: #ee9600;
}

.button_increment {
  background-color: #4dc09a;
}

.button_delete {
  background-color: #ee3b2f;
}

.button_submit {
  background-color: #52c1ca;
}

/* .button {
  border: none;
} */