:root {
  --accent: #ebf0f1;
}


.basket_header_title {
  border-bottom: 1px solid var(--accent);
  text-align: center;
  padding-bottom: 20px;
  font-size: 2em;
  font-weight: 500;
}

.order_products_table_container {
  padding: 30px 20px;
}

.order_products_table {
  width: 100%;
}

thead {
  font-weight: 400;
}

tr {
  height: 40px;
  text-align: left;
}

td, th {
  padding-left: 5px;
  vertical-align: middle;
}

tr:nth-last-child(odd) {
  background-color: #f9f9f9;
}

.basket_total_section {
  border-top: 1px solid var(--accent);
  padding: 20px 0;
}

.order_container {
  border: 2px solid var(--accent);
  border-radius: 5px;
  margin: 20px 0;
}

.order_header {
  background-color: var(--accent);
  margin: 0px;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 1.2em;
}


.quantity_row_container {
  display: flex;
}

.increment_buttons_container {
  margin-left: 10px;
}

.basket_vat, .basket_subtotal {
  color: #b3bcc2;
}

.basket_total_row {
  display: flex;
  justify-content: space-between;
  /* margin: 15px 0; */
}

.basket_form_submit {
  text-align: right;
}